<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-view name="appContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width="200">
    <!-- <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="showLoader()" href="#/app/overview">Overview</ion-item>
        <ion-item menu-close ng-click="showLoader()" href="#/app/system">Systems</ion-item>
        <ion-item menu-close ng-click="showLoader()" href="#/app/kpis">KPIS</ion-item>
        <ion-item menu-close ng-click="showLoader()" href="#/app/program">Program</ion-item>
        <ion-item menu-close ng-click="showLoader()" href="#/app/settings">Settings</ion-item>
        <ion-item menu-close ng-click="showLoader()" href="#/app/profile">Profile</ion-item>
      </ion-list>
    </ion-content> -->
    <div class="left-menu">
	   	<div id="menu-slider"   class="menu-slider" ng-class="vm.selectedTab"></div>
	    <div class="side-menu">
	    	<div class="menu-item branding">AT&T</div>
	    	<div id="menu-overview" class="menu-item overview" ng-click="vm.goTo('overview')">Overview</div>
	    	<div id="menu-program"  class="menu-item program"  ng-click="vm.goTo('program')">Program</div>
	    	<div id="menu-settings" class="menu-item settings" ng-click="vm.goTo('settings')">Settings</div>
	    	<div id="menu-profile"  class="menu-item profile"  ng-click="vm.goTo('profile')">Profile</div>
	    </div>
    </div>
  </ion-side-menu>
</ion-side-menus>
