<ion-view>
    <div class="astro-view">
        <div class="header">
        	<span class="hamburger-icon" ng-click="vm.toggleSideMenu()"></span>
        	<span class="page-title">
        		<h1>Astro Executive Dashboard</h1>
        	</span>
        	<span class="header-options">
        		<span class="mail"></span>
        		<span class="reports"></span>
        		<span class="date">{{vm.currentDate}}</span>
        	</span>
        </div>
        <div id="overview" class="container">
        	<div class="flex-box">
        		<div class="flex-container">
	        		<!-- <div class="tile" ng-class="{'flipped': vm.flipped[1]}" ng-click="vm.flipped[1] = !vm.flipped[1]"> -->
	        		<div class="tile">
	        			<div class="figure front graph">
							<span class="expand-icon"></span>
	        				<div class="swiper-container">
						        <div class="swiper-wrapper">
						            <div class="swiper-slide" ng-repeat="graph in vm.data.graphs">
						            	<div class="chart-area">
				        					<h1>{{graph.title}}</h1>
				        					<div id="graph{{$index}}" class="chart"></div>
				        				</div>
						            </div>
						        </div>
						        <div class="swiper-pagination"></div>
						    </div>
	        			</div>
	        			<div class="figure back"><p>Back</p></div>
	        		</div>
        		</div>
        		<div class="flex-container">
	        		<!-- <div class="tile" ng-class="{'flipped': vm.flipped[2]}" ng-click="vm.flipped[2] = !vm.flipped[2]"> -->
	        		<div class="tile">
	        			<div class="figure front message-center">
	        				<div class="message-detail" ng-class="{'showMessageDetails': vm.showMessageDetails}">
	        					<div class="back" ng-click="vm.showMessageDetails = false">Messages</div>
	        					<ion-scroll delegate-handle="messageDetailScroll" zooming="false" direction="y" class="scroll">
									<h1>{{vm.alertMessage.issue}}</h1>
									<p>{{vm.alertMessage.issueDescription}}</p>
								</ion-scroll>
	        				</div>
	        				<div class="message-list" ng-class="{'showMessageDetails': vm.showMessageDetails}">
								<h1><i>({{vm.data.alertMessages.length}})</i>&nbsp;&nbsp;Messages</h1>
								<ion-scroll class="messages" delegate-handle="messageCenterScroll" zooming="false" direction="y">
									<ul>
								        <li ng-repeat="message in vm.data.alertMessages" ng-click="vm.goToMessage(message.id)">
											<h2>{{message.issue}}</h2>
											<p>{{message.issueDescription}}</p>
											<span class="calendar">
												<span class="day">24</span>
												<span class="month">OCT</span>
											</span>
										</li>
							     	</ul>
								</ion-scroll>
							</div>
	        			</div>
	        			<div class="figure back"><p>Back</p></div>
	        		</div>
        		</div>
        		<div class="flex-container" ng-repeat="gauge in vm.data.gauges">
	        		<div class="tile" ng-class="{'flipped': vm.flipped[$index + 2]}">
	        			<div class="figure front">
	        				<span class="expand-icon"></span>
	        				<h1>{{gauge.title}}</h1>
							<span id="gauge{{$index}}" class="gauge"></span>
							<span class="value">{{vm.formatGaugeValue(gauge.metric.value.value)}}</span>
							<span class="sub-value" ng-click="vm.flipped[$index + 2] = !vm.flipped[$index + 2]">
								<!-- <span class="last-week">{{gauge.majorMetric.info.name}}: {{vm.formatGaugeValue(gauge.majorMetric.value.value)}}</span> -->
								<span class="last-week">{{vm.formatGaugeDate2(gauge.metric.value.date)}}</span>
								<span class="frequency">{{gauge.metric.info.updateSchedule}}</span>
							</span>
	        			</div>
	        			<div class="figure back">
	        				<div class="history" ng-click="vm.flipped[$index + 2] = !vm.flipped[$index + 2]">
		        				<div class="back">{{gauge.title}}</div>
		        				<div id="history{{$index}}" class="history-chart"></div>
		        				<div class="history-data">
		        					<ul>
		        						<li ng-repeat="history in gauge.history" ng-class="history.direction.toLowerCase()">
		        							<span class="date">{{vm.formatGaugeDate(history.date)}}</span>
		        							<span class="value">{{vm.formatGaugeValue(history.value)}}</span>
		        						</li>
		        					</ul>
		        				</div>
		        			</div>
	        			</div>
	        		</div>
        		</div>
        	</div>
        </div>
    </div>
</ion-view>
