# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
.settings/
WebContent/
target/
.DS_Store
.project
.classpath
www/lib/
